# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python 编译和打包生成的文件夹
python/build/
python/dist/
python/*.egg-info/
__pycache__/
*.pyc

# 虚拟环境（如果你有的话）
venv/
.venv/
env/

# Electron 和 前端构建文件 (常规建议一起加上)
node_modules/
dist/
build/
release/
out/
electron/bin/

# 系统文件
.DS_Store
Thumbs.db
